html {
    height: 100%;
}

body {
    color: whitesmoke;
    background-color: #80ADCB;
    font-family: Arial;
}

/* HEADER START */
header {
    top: 0;
    position: 0;
    width: 100%;
    height: 100px;
    background-color: #251515;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
}

nav a {
    font-size: 18px;
    color: whitesmoke;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
/* HEADER STOP */

/* MAIN START */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#projects {
    font-size: 14px;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    flex: 1;
    padding: 20px;
    /* justify-content: center; */
}

#projects h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

.cards {
    border-style: groove;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    /* flex: 0 0 400px; */
}

/* #card1 {
    width: auto;
}

#card2 {
    width: auto;
}

#card3 {
    width: auto;
} */

#about {
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
    width: 25%;
    margin-bottom: 16px;
}

#about h2 {
    color: whitesmoke;
    font-size: 24px;
    padding-bottom: 10px;
}

.dillon {
    height: 300 px;
    width: 200px;
    border: solid 2px black;
}
/* MAIN STOP */

/* FOOTER START */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #251515;  
    display: flex;
    flex-wrap: wrap;
}

footer a {
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

footer h6 {
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    justify-content: flex-start;
}
/* FOOTER STOP */

@media screen and (max-width: 768px) {
    header,
    main,
    footer {
      flex-direction: column;
    }
  }
